@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  font-family: "Unna", sans-serif;
  color: black;
}

.grid {
  width: 50%;
  transition: all 500ms;
  height: 1vmin;
  display: grid;
  grid-template: 160px repeat(8, auto) / repeat(12, 1fr);
  grid-gap: 16px;
  margin: auto;
}

header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: 1 / 1 / span 1 / span 12;
  background-image: url("../img/logo-banner.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}
.logo {
  font-size: 2.1rem;
  height: 100%;
  color: rgba(255,255,255,0);
}
nav ul{
  display: flex;
}
nav li {
  display: inline;
  white-space: nowrap;
}
nav li+li::before {
  transition: margin 500ms;
  content: "|";
  margin: 8px;
}

nav .dropbtn {
  display: inline;
}
nav .dropmenu {
  display: none;
  opacity: 0%;
  position: absolute;
  padding: 1rem;
  transition: all 500ms;
}
nav .dropbtn:hover > .dropmenu{
  display: block;
  opacity: 100%;
  z-index: 10;
}
nav .dropmenu ul {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
nav .dropmenu.contact {
  margin-left: -300px;
}

small {
  font-size: .6rem;
}

main {
  display: contents;
}

a {
  text-decoration: none;
  color: black;
  transition: all 500ms;
}
a:visited{
  color: black;
}
a:hover {
  color: grey;
}

@media only screen and (max-width:1700px) {
.grid {
  width: 75%;
}
nav .dropmenu.contact {
  margin-left: 0px;
  right: 0%;
}
}
@media only screen and (max-width:1200px){
.grid {
  width: 90%;
}
}
/*@media only screen and (max-width:955px){
.grid {
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: column;
}
.logo {
  width: 100%;
}
header {
  grid-area: 1 / 1 / span 1 / span 1;
  margin-bottom: 2rem;
}
nav li+li::before {
  margin: 2px;
  content: "|"
}
}*/
@media only screen and (max-width:965px){
.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
header {
  height: auto;
  display: contents;
  margin-bottom: 30px;
}
.logo {
  content: url("../img/logo-banner.jpeg");
  width: auto;
  height: auto;
  max-width: 432px;
}
.logo, nav ul {
  flex-grow: 1;
}
nav .dropmenu.contact {
  margin-left: 0px;
  right: 0%;
}
}
@media only screen and (max-width: 625px) {
nav .dropmenu ul{
  margin: 0;
  right: 0;
  justify-content: center;
  max-width: 100%;
  padding: 1rem;
  background: linear-gradient(white,rgba(255,255,255,.8));
  font-size: 1.5rem;
}
nav .dropmenu.about {
  left: 0%;
}
}
@media only screen and (max-width: 512px) {
nav li+li::before {
  margin: 2px;
  content: "|"
}
}
