

.medium {
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 60px;
}
.big{
  font-size: 4rem;
  font-weight: normal;
  margin-top: 60px;
}
.detail {
  font-size: 1.5rem;
  color: #4a4a4a;
}

.mission.medium{
  grid-area: 2 / 1 / span 3 / span 3;
}
.mission.detail{
  grid-area: 2 / 4 / span 2 / span 9;
  margin-top: 60px;
}

.a.big {
  grid-area: 4 / 1 / span 1 / span 4;
}
.a.detail {
  grid-area: 5 / 1 / span 1 / span 4;
}

.b.big{
  grid-area: 4 / 5 / span 1 / span 4;
}
.b.detail{
  grid-area: 5 / 5 / span 1 / span 4;
}

.c.big{
  grid-area: 4 / 9 / span 1 / span 4;
}
.c.detail{
  grid-area: 5 / 9 / span 1 / span 4;
}

.d.big{
  grid-area: 6 / 1 / span 1 / span 12;
}
.d.detail{
  grid-area: 7 / 1 / span 1 / span 12;
}

.learn-more{
  grid-area: 8 / 1 / span 1 / span 12;
  font-size: 1.5rem;
  text-decoration: none;
}
.d.big, .d.detail, .learn-more {
  text-align: center;
}

@media only screen and (max-width:965px){
.big, .medium, .mission.detail{
  margin: 0;
}
.medium {
  font-size: 4rem;
}
.d.big, .d.detail, .learn-more {
  text-align: left;
}
.mission.big, .learn-more, .a.big, .b.big, .c.big, .d.big{
  flex-grow: 1;
}
}
@media only screen and (max-width:512px){
.big,.detail {
  width: 100%;
}
}
